@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Galdeano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Galdeano&display=swap');

body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #252886;
    background-image: url(./images/9150533.jpg);
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container{
    width: 50vw;
}

header h1 {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 5.5rem;
    color: #A9EAEF;
    text-align: center;
    letter-spacing: 0rem;
    margin: 0;
}

header h2 {
    font-family: "Galdeano", sans-serif;    
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0rem;
    margin: 0;
}

header p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    text-align: center;
    color: #ffffff;
    margin: 1.5rem 0 0;
    padding: 1.5rem;
}

.search-container {
    width: 40vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10rem;
    padding: 0.3rem;
    margin-top: 2rem;
}

input[type="text"] {
    border: none;
    border-radius: 10rem;
    margin: 0.3rem;
}

button[type="submit"] {
    background-color: #21222E;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    margin-right: 0.2rem;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80rem;
}

.container {
    transition: opacity 0.5s ease-in-out;
  }
  
.container.hidden {
opacity: 0;
}

.container-card{
    width: 20rem;
    background-color: #ffffff;
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 0.8rem;   
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.1rem; /* Espaçamento entre letras */
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
    transition: ease-in-out;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 20rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    background-color: #c1fbff;
    color: #02010c; /* Cor do texto */
    font-size: 1.2rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    text-align: left;
    font-weight: 300;
    transition: ease-in 0.3s;
    width: 100%;
}

section input:hover{
    background-color: #5ab2ec;
    transition: ease-in 0.3s;
    width: 100%;
    color:#ffffff;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #30475E; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #30475E; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 60vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

.container-intro h2{
    text-align: center;
    font-size: 1.8rem;
    color: #5ab2ec;
}

.container-intro p{
    text-align: justify;
    font-size: 1.2rem;
    color: #5ab2ec;
}

.container-descricao-atleta h2, p{
    text-align: justify;
}

/* Estiliza as imagens dentro dos itens de resultado */
.container-imagem-atleta{
    display: flex;
    justify-content: flex-start;
    margin-right: 1rem;
}    

.image-atleta {
    width: 10rem; 
    border-radius: 0.8rem;
}

/* Estiliza cada item de resultado */
.item-resultado {
    width: 100%;
    display: flex;
    align-items: flex-start;
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    border: 2px solid coral;
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    overflow-y: auto;
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #F5F7F8; /* Cor de fundo do rodapé */
    color: #45474B; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}

footer > p{
    text-align: center;
}


@media (max-width: 1480px){
    .container{
        width: 50vw;
    }
}

@media (max-width: 768px) {

    .container{
        width: 100vw;
    }

    .search-container {
        width: 80vw;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content:space-between;
        border-radius: 10rem;
        padding: 0.3rem;
        margin-top: 0;
    }

    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 100%; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}